# **Getting Started with this notebook**

* Create a new vector search enabled database in Astra.
* For the easy path, name the keyspace in that database "**bike_rec**"(otherwise be prepared to modify the CQL in this notebook)
* Create a token with permissions to create tables
* Download your **secure-connect-bundle** zip file.
* When you open this notebook in Google Colab or your own notebook server, drag-and-drop the secure connect bundle into the File Browser (on the left panel) of the notebook
* Update the Keys & Environment Variables cell in the notebook with information from the token you generated and the name of your secure connect bundle file.

# **Install libraries**

In [ ]:
!pip3 install openai pandas cassandra-driver traceloop-sdk

# **Import Modules**

In [11]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider
from cassandra.query import dict_factory, SimpleStatement
import openai, os, uuid, time, requests
import pandas as pd
from traceloop.sdk import Traceloop
from traceloop.sdk.tracing import tracing as Tracer
from traceloop.sdk.decorators import workflow, task, agent
from dotenv import load_dotenv, find_dotenv

In [12]:
# Load the .env file
if not load_dotenv(find_dotenv(),override=True):
    raise Exception("Couldn't load .env file")

In [13]:
#Add Telemetry
TRACELOOP_API_KEY=os.getenv('TRACELOOP_API_KEY')
#display(TRACELOOP_API_KEY)
Traceloop.init(app_name="Bike Recommendation App", disable_batch=True)
# Generate a UUID
uuid_obj = str(uuid.uuid4())
Tracer.set_correlation_id(uuid_obj)

'b1c1194c6e5e1c2fb73aecccf90c77d2451eb80223aa2fa6c2e7b85b78c3c24a9420fa51be24dca480580bdfe63329ef'

In [14]:
import os
from getpass import getpass

try:
    from google.colab import files
    IS_COLAB = True
except ModuleNotFoundError:
    IS_COLAB = False

# **Keys & Environment Variables**

In [15]:
# Your database's Secure Connect Bundle zip file is needed:
if IS_COLAB:
    print('Please upload your Secure Connect Bundle zipfile: ')
    uploaded = files.upload()
    if uploaded:
        astraBundleFileTitle = list(uploaded.keys())[0]
        ASTRA_DB_SECURE_BUNDLE_PATH = os.path.join(os.getcwd(), astraBundleFileTitle)
    else:
        raise ValueError(
            'Cannot proceed without Secure Connect Bundle. Please re-run the cell.'
        )
else:
    # you are running a local-jupyter notebook:
    #ASTRA_DB_SECURE_BUNDLE_PATH = input("Please provide the full path to your Secure Connect Bundle zipfile: ")
    ASTRA_DB_SECURE_BUNDLE_PATH=os.getenv('ASTRA_SECUREBUNDLE_PATH')

In [16]:
#ASTRA_DB_APPLICATION_TOKEN = getpass("Please provide your Database Token ('AstraCS:...' string): ")
ASTRA_DB_APPLICATION_TOKEN=os.getenv('ASTRA_DB_TOKEN')

In [17]:
#ASTRA_DB_KEYSPACE = input("Please provide the Keyspace name for your Database: ")
ASTRA_DB_KEYSPACE=os.getenv('ASTRA_KEYSPACE')

In [18]:
#Establish Connectivity
cluster = Cluster(
    cloud={
        "secure_connect_bundle": ASTRA_DB_SECURE_BUNDLE_PATH,
    },
    auth_provider=PlainTextAuthProvider(
        "token",
        ASTRA_DB_APPLICATION_TOKEN,
    ),
)

session = cluster.connect()
keyspace = ASTRA_DB_KEYSPACE

**LLM Setup**

In [36]:
#OPENAI_API_KEY = getpass("Please enter your OpenAI API Key: ")
openai.api_key = os.getenv('OPENAI_API_KEY')

# **Select a model to compute embeddings**

In [21]:
model_id = "text-embedding-ada-002"

# **Connect to Astra with Vector Search**

# **Drop / Create Schema**

In [22]:
# only use this to reset the schema
session.execute(f"""DROP INDEX IF EXISTS {ASTRA_DB_KEYSPACE}.descriptions_vector_idx""")
session.execute(f"""DROP INDEX IF EXISTS {ASTRA_DB_KEYSPACE}.type_idx_analyzer""")
session.execute(f"""DROP TABLE IF EXISTS {ASTRA_DB_KEYSPACE}.bikes""")

In [23]:
# # Create Table
session.execute(f"""CREATE TABLE IF NOT EXISTS {ASTRA_DB_KEYSPACE}.bikes
(model text,
  brand text,
  type text,
  price decimal,
  description text,
  description_embedding vector<float, 1536>,
  PRIMARY KEY (brand,model))""")

In [24]:
# # Create Index
session.execute(f"""CREATE CUSTOM INDEX IF NOT EXISTS descriptions_vector_idx ON {ASTRA_DB_KEYSPACE}.bikes (description_embedding) USING 'org.apache.cassandra.index.sai.StorageAttachedIndex' WITH OPTIONS = {{'similarity_function':'dot_product'}}""")
session.execute(f"""CREATE CUSTOM INDEX IF NOT EXISTS type_idx_analyzer ON {ASTRA_DB_KEYSPACE}.bikes (type) USING 'org.apache.cassandra.index.sai.StorageAttachedIndex' WITH OPTIONS = {{'index_analyzer': '{{"tokenizer" : {{"name" : "standard"}},"filters" : [{{"name" : "porterstem"}},{{"name" : "lowercase",	"args": {{}}}}]}}'}};""")

# **Building the Knowledge Base**

We start by constructing our knowledge base. We'll use a mostly prepared dataset called Stanford Question-Answering Dataset (SQuAD) hosted on Hugging Face Datasets. We download it like so:

In [26]:
url = "https://raw.githubusercontent.com/mangatrai/vector-db-examples/main/Astra_Hybrid_Search_Bike_Recommendation/bikes.json"
response = requests.get(url)
bikes = response.json()
#print(bikes)
bikes = pd.DataFrame(bikes)
bikes

,model,brand,price,type,specs,description
0,Jigger,Velorim,270,Kids bikes,"{'material': 'aluminium', 'weight': '10'}","Small and powerful, the Jigger is the best rid..."
1,Hillcraft,Bicyk,1200,Kids Mountain Bikes,"{'material': 'carbon', 'weight': '11'}",Kids want to ride with as little weight as pos...
2,Chook air 5,Nord,815,Kids Mountain Bikes,"{'material': 'alloy', 'weight': '9.1'}",The Chook Air 5 gives kids aged six years and...
3,Eva 291,Eva,3400,Mountain Bikes,"{'material': 'carbon', 'weight': '9.1'}","The sister company to Nord, Eva launched in 20..."
4,Kahuna,Noka Bikes,3200,Mountain Bikes,"{'material': 'alloy', 'weight': '9.8'}",Whether you want to try your hand at XC racing...
5,XBN 2.1 Alloy,Breakout,810,Road Bikes,"{'material': 'alloy', 'weight': '7.2'}",The XBN 2.1 Alloy is our entry-level road bike...
6,WattBike,ScramBikes,2300,eBikes,"{'material': 'alloy', 'weight': '15'}",The WattBike is the best e-bike for people who...
7,Soothe Electric bike,Peaknetic,1950,eBikes,"{'material': 'alloy', 'weight': '14.7'}","The Soothe is an everyday electric bike, from ..."
8,Secto,Peaknetic,430,Commuter bikes,"{'material': 'aluminium', 'weight': '10.0'}",If you struggle with stiff fingers or a kinked...
9,Summit,nHill,1200,Mountain Bike,"{'material': 'alloy', 'weight': '11.3'}",This budget mountain bike from nHill performs ...
10,ThrillCycle,BikeShind,815,Commuter Bikes,"{'material': 'alloy', 'weight': '12.7'}","An artsy, retro-inspired bicycle that’s as fu..."

# **Load the table with data and create text embeddings**

In [ ]:
import traceback

counter = 0;
total = 0
for id in bikes.index:

  description = bikes['description'][id].replace(',', '\,')
  description = description.replace('"', '\"')

  # Create Embedding for each bike row, save them to the database
  full_chunk = bikes['description'][id]

  if (counter > 0):
    embedding = openai.Embedding.create(input=full_chunk, model=model_id)['data'][0]['embedding']

    query = SimpleStatement(f"""INSERT INTO bike_rec.bikes(model, brand, price, type, description, description_embedding) VALUES (%s, %s, %s, %s, %s, %s)""")

    # Create a try-catch block
    try:
      #print(bikes['model'][id], bikes['brand'][id], bikes['price'][id], bikes['type'][id], description, embedding)
      session.execute(query, (bikes['model'][id], bikes['brand'][id], bikes['price'][id], bikes['type'][id], description, embedding), trace=True)
    except Exception as e:
      # Log the exception
      traceback.print_exc()
      print(e)
      break
    else:
      # The CQL statement executed successfully
      print("Embeddings were inserted successfully.")

  # With free trial of openAI, the rate limit is set as 60/per min.  Please set this counter depends on your own rate limit.
  counter += 1

  # It takes a long time to load all data.  It is set as 300 so it takes a few mins to load.
  total += 1

  if(total >= 300):
    display('total records inserted ')
    display(counter)
    total = 0
  #  break

# **Convert a query string into a text embedding to use as part of the query**

Provide a question to find out the information of the university that you are interested and see how it works with Vector Search and ChatGPT.

Here we use the same API that we used to calculate embeddings for each row in the database, but this time we are using your input question to calculate a vector to use in a query.

In [28]:
# Question to find out the information that you need.
customer_input = "Bike for small kids"

# Create embedding based on same model
embedding = openai.Embedding.create(input=customer_input, model=model_id)['data'][0]['embedding']
#display(embedding)

Let's take a look at what a query against a vector index could look like. The query vector has the same dimensions (number of entries in the list) as the embeddings we generated a few steps ago for each row in the database.

# **Find the top 3 results using ANN Similarity**

In [32]:
# Use the embedding to find the information nearest to the question asked.
query = SimpleStatement(
    f"""
    SELECT *
    FROM bike_rec.bikes
    ORDER BY description_embedding ANN OF {embedding} LIMIT 3;
    """
    )
#display(query)

In [33]:
results = session.execute(query)
top_results = results._current_rows

bikes_results = pd.DataFrame(top_results)
display(bikes_results)

,brand,model,description,description_embedding,price,type
0,Nord,Chook air 5,The Chook Air 5 gives kids aged six years and...,"[0.012364508584141731, -0.0004169118474237621,...",815,Kids Mountain Bikes
1,ScramBikes,WattBike,The WattBike is the best e-bike for people who...,"[0.014994332566857338, -0.010562343522906303, ...",2300,eBikes
2,BikeShind,ThrillCycle,"An artsy\, retro-inspired bicycle that’s as f...","[0.004823387134820223, -0.012206671759486198, ...",815,Commuter Bikes

## **Let's Change to use Text Analyzer Search to find top 3 Results**

In [34]:
# Use the embedding to find the information nearest to the question asked.
query = SimpleStatement(
    f"""
    SELECT *
    FROM bike_rec.bikes
    WHERE type : 'Kids bikes'
    ORDER BY description_embedding ANN OF {embedding} LIMIT 3;
    """
    )
#display(query)

In [35]:
results = session.execute(query)
top_results = results._current_rows

bikes_results = pd.DataFrame(top_results)
display(bikes_results)

,brand,model,description,description_embedding,price,type
0,Nord,Chook air 5,The Chook Air 5 gives kids aged six years and...,"[0.012364508584141731, -0.0004169118474237621,...",815,Kids Mountain Bikes
1,Bicyk,Hillcraft,Kids want to ride with as little weight as pos...,"[0.027309365570545197, 0.03310307115316391, 0....",1200,Kids Mountain Bikes